.Rproj.user
.Rhistory
.RData
.Ruserdata
30DayMapChallenge.Rproj
2021/data
2021/geofacet
2021/images/01_glasgow.JPG
2021/images/shetland.png
2021/viz/maps.svg
2021/mono_map_function/
2021/viz/maps64.png
2021/viz/maps64.svg
2022/data
2022/images/2022.svg
2022/images/coasters.R
2022/images/coasters.png
2025/data
2025/maps/*_raw.png
*.svg
recording/